In [43]:
import psycopg2
import numpy as np
import pandas as pd
import os
import urllib.parse as up
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [57]:
conn = psycopg2.connect(database="postgres",
                    host="34.38.45.173",
                    user="postgres",
                    password="123456789",
                    port="5432")
crsr = conn.cursor()

connect = "postgresql://postgres:123456789@34.38.45.173:5432/postgres"

engine = create_engine(connect)

In [5]:
query = '''
INSERT INTO usuario VALUES (1, 'matias@gmail.com', 'ma12345', 'Asesor')
'''
crsr.execute(query)
conn.commit()

In [6]:
query = '''
INSERT INTO usuario VALUES (2, 'steven@gmail.com', 'st12345', 'Asesor', 'Madrid')
'''
crsr.execute(query)
conn.commit()

In [56]:
conn.close()

In [12]:
query = '''
INSERT INTO usuario VALUES (5, 'guille@gmail.com', 'gui12345', 'Asesor', 'Madrid')
'''
crsr.execute(query)
conn.commit()

In [26]:
query = '''
INSERT INTO cliente VALUES ('31405', 1, 'dani', 'sucasa')
'''
crsr.execute(query)
conn.commit()

In [30]:
query = '''
INSERT INTO cliente VALUES ('31406', 1, 'steven', 'sucasa')
'''
crsr.execute(query)
conn.commit()

In [36]:
query = '''
SELECT * FROM cliente
'''
crsr.execute(query)
cliente = crsr.fetchall()
print(cliente)

[(31405, 1, 'dani', 'sucasa'), (31406, 1, 'steven', 'sucasa')]

In [40]:
query = '''
INSERT INTO sips VALUES (1, '6.1', 1053543, 12, 133, 14, 15, 0, 0, 31405, 'Barcelona', 'Barcelona', 8014, 'Endesa')
'''
crsr.execute(query)
conn.commit()

In [49]:
query = '''
INSERT INTO factura VALUES (1, 31405, '10/01/2024', 1200, 30, 75.3, 12, 2.5, 4, -3.48)
'''
crsr.execute(query)
conn.commit()

In [50]:
query = '''
INSERT INTO consumo_energia VALUES (1, 1, 12, 13, 314, 15, 16, 17, 180, 35, 80, 980)
'''
crsr.execute(query)
conn.commit()

In [51]:
query = '''
INSERT INTO consumo_potencia VALUES (1, 1, 12, 13, 314, 15, 16, 17, 180, 35, 80, 980)
'''
crsr.execute(query)
conn.commit()

In [58]:
query = '''
INSERT INTO comercializadora VALUES ()

'''
crsr.execute(query)
conn.commit()

SyntaxError: syntax error at or near "FOREIGN"
LINE 2: ALTER TABLE precio_fijo DROP FOREIGN KEY fk_precio_fijo_id_c...
                                     ^