In [ ]:
import psycopg2
import numpy as np
import pandas as pd
import os
import urllib.parse as up
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [ ]:
conn = psycopg2.connect(database="postgres",
                    host="hostname",
                    user="postgres",
                    password="yourpassword",
                    port="5432")
crsr = conn.cursor()

connect = "postgresql://postgres:hostname@:yourpassword/postgres"

engine = create_engine(connect)

In [ ]:
query = '''
INSERT INTO usuario VALUES (1 ,'matias@gmail.com', 'ma12345', 'Asesor')
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO usuario VALUES (2, 'steven@gmail.com', 'st12345', 'Asesor')
'''
crsr.execute(query)
conn.commit()

In [ ]:
conn.close()

In [ ]:
query = '''
INSERT INTO usuario VALUES (5, 'guille@gmail.com', 'gui12345', 'Asesor', 'Madrid')
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO cliente VALUES ('31405', 1, 'dani', 'sucasa')
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO cliente VALUES ('31406', 1, 'steven', 'sucasa')
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
SELECT * FROM cliente
'''
crsr.execute(query)
cliente = crsr.fetchall()
print(cliente)

In [ ]:
query = '''
INSERT INTO sips VALUES (1, '6.1', 1053543.1, 12.0, 133.0, 14.0, 15.0, 0, 0, 31405, 'Barcelona', 'Barcelona', 8014, 'Endesa')
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO factura VALUES (1, 31405, '10/01/2024', 1200, 30, 75.3, 12, 2.5, 4, -3.48)
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO consumo_energia VALUES (1, 1, 12, 13, 314, 15, 16, 17, 180, 35, 80, 980)
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO consumo_potencia VALUES (1, 1, 12, 13, 314, 15, 16, 17, 180, 35, 80, 980)
'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
INSERT INTO comercializadora VALUES ()

'''
crsr.execute(query)
conn.commit()

In [ ]:
query = '''
SELECT * FROM comercializadora
LIMIT 5
'''
crsr.execute(query)
cliente = crsr.fetchall()
cliente

In [ ]:
crsr.execute("""
    UPDATE comercializadora
    SET ID_Cia_indexado_energia = (SELECT ID_Precio_indexado_energia FROM precio_indexado_energia WHERE precio_indexado_energia.ID_Cia = comercializadora.ID_Cia)
    WHERE EXISTS (SELECT 1 FROM precio_indexado_energia WHERE precio_indexado_energia.ID_Cia = comercializadora.ID_Cia);
""")

# Confirma los cambios
conn.commit()

# Cierra la conexi√≥n
# conn.close()

In [ ]:
df_index_e = pd.read_excel('./PRECIOSLUZ.xlsx', sheet_name='INDEXADO', header=3, usecols="B:L")
df_index_e

In [ ]:
df_index_e.rename(columns={'MES':'mes','P5':'P5.', 'CIA':'cia'}, inplace=True)
df_index_e

In [ ]:
df_index_e.columns

In [ ]:
df_index_e.rename(columns={'SISTEMA':'sistema','TARIFA':'tarifa',
                           'FEE': 'fee',
                           'P1.':'p1.',
                           'P2.':'p2.',
                           'P3.':'p3.',
                           'P4.':'p4.',
                           'P5.':'p5.',
                           'P6.': 'p6.'}, inplace=True)
df_index_e

In [ ]:
df_index_e.rename(columns={
    'p1.': 'p1_e',
    'p2.': 'p2_e',
    'p3.': 'p3_e',
    'p4.': 'p4_e',
    'p5.': 'p5_e',
    'p6.': 'p6_e'
}, inplace=True)
df_index_e

In [ ]:
df_index_p = pd.read_excel('./PRECIOSLUZ.xlsx', sheet_name='INDEXADO', usecols="N:X", skiprows=3, nrows=376)
df_index_p

In [ ]:
df_index_p.columns = [col.replace('.', '').replace(' ', '_').lower() for col in df_index_p.columns]

In [ ]:
df_index_p

In [ ]:
df_index_p.rename(columns={'SISTEMA.1': 'Sistema',
                           'CIA.1': 'CIA',
                           'P5.1':'P5',
                           'TARIFA.1':'Tarifa'}
                  ,
                  inplace=True)
df_index_p

df_index_p.rename(columns={'PRODUCTO CIA':'producto_cia',
                           'PRODUCTO':'producto',
                           'Sistema':'sistema',
                           'PRODUCTO':'producto',
                           'Tarifa':'tarifa',
                           'P1': 'p1',
                           'P2': 'p2',
                           'P3': 'p3',
                           'P4': 'p4',
                           'P5': 'p5',
                           'P6': 'p6'}, 
                  inplace=True)
df_index_p

In [ ]:
df_fijo = pd.read_excel('./PRECIOSLUZ.xlsx', sheet_name='FIJO', usecols="C:T", skiprows=1)
df_fijo.rename(columns={'producto cia':'producto_cia'}, inplace=True)

In [ ]:
df_fijo.rename(columns={ 'P1': 'p1',
                           'P2': 'p2',
                           'P3': 'p3',
                           'P4': 'p4',
                           'P5': 'p5',
                           'P6': 'p6',
                           'P1.': 'p1.',
                           'P2.': 'p2.',
                           'P3.': 'p3.',
                           'P4.': 'p4.',
                           'P5.': 'p5.',
                           'P6.': 'p6.'}, 
                  inplace=True)

In [ ]:
df_fijo.rename(columns={
    'p1.': 'p1_e',
    'p2.': 'p2_e',
    'p3.': 'p3_e',
    'p4.': 'p4_e',
    'p5.': 'p5_e',
    'p6.': 'p6_e'
}, inplace=True)

In [ ]:
df_fijo

In [ ]:
df_fijo.info()

In [ ]:
df_fijo = df_fijo.dropna()

In [ ]:
df_fijo['p1_e'].value_counts()

In [ ]:
df_fijo['fee'] = 0

In [ ]:
df_fijo['fee'].value_counts()

In [ ]:
df_fijo['fee'] = df_fijo['fee'].str.replace('-', '')

In [ ]:
columnas_a_convertir = ['p1_e', 'p2_e', 'p3_e', 'p4_e', 'p5_e', 'p6_e']

for columna in columnas_a_convertir:
    df_fijo[columna] = pd.to_numeric(df_fijo[columna], errors='coerce')

In [ ]:
# df_index_e.to_sql('energia', con=engine, if_exists='append', index=False)
# df_index_p.to_sql('potencia', con=engine, if_exists='append', index=False)
df_fijo.to_sql('fijo', con=engine, if_exists='append', index=False)